.divider {
    border-bottom: 2px solid #56585A;
    position: absolute;
    left: 30%;
    right:30%;
  }  
  
.container-box {
    position: relative;
    margin-bottom:10px;
    margin-top:10px;
  }