.button {
    color: white; 
    cursor: pointer; 
    text-decoration: none;
    text-align:center;
    letter-spacing:2px;
}

.button:hover {
    opacity: 90%;
}
@media (max-width: 1199px) {
    .button {
        font-size: 12px; /* Set font size to 12px when screen width is less than 992px */
    }
}
