.border { 
  border: 2px solid white;
  width: 30px;
  height: 30px; 
  text-align: center;
  border-radius: 50px;
  line-height: 24px;
  transition: transform 0.3s ease;
  margin:10px 10px;
  
}

.border:hover {
    opacity: 80%;
    transform: scale(1.1);
}

.footer hr {
  margin-bottom:0.5rem;
  margin-top:0px;
}

.objectFit {
  max-width:20%;
  height:auto;
}


@media (max-width:500px) {
  .rfs {
    font-size: 3.5vw
  }
}

