.border { 
  border: 2px solid white;
  margin-right: 10px;
  width: 30px;
  height: 30px; 
  text-align: center;
  border-radius: 50px;
  line-height: 27px;
  transition: transform 0.3s ease;
  
}

.border:hover {
    opacity: 80%;
    transform: scale(1.1);
}

.footer-text {
    font-size: 15px;
}
