:root {
  --nav-item-color: #ffffff8c;
  --nav-brand-color: #ffffff;
  --page-background-color: rgb(18,18,18);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.default-bg-color {
  background: var(--page-background-color);
}

body {
  background-color: var(--page-background-color) !important;
}
html {
  scroll-behavior: smooth;
}
.navbar-expand-lg .navbar-nav a.nav-link {
  padding: 15px 0px 0px 0px;
  line-height: 1.2em;
}

.table {
  --bs-table-bg: transparent;
  --bs-table-color: white;
}

.table > :not(caption) > * > * {
  border-color: #6c757d;
  padding: 1rem 0.5rem;
}


.nav-item {
  .nav-link {
    color: var(--nav-item-color);
    font-weight: 500;
    display: inline-block;

    &.show,
    &:focus {
      color: var(--nav-item-color) !important;
    }
  }
}

a.navbar-brand {
  color: var(--nav-brand-color);

  &:hover {
    color: var(--nav-brand-color); /* Set the color for both normal and hover states */
  }
}

.navbar-nav .dropdown-menu {
  background: #222629;

  & .dropdown-item {
    color: var(--nav-item-color);
    font-weight: 300;
  }
}

.dropdown-menu {
  --bs-dropdown-link-hover-bg: #6b6e70;
}

.container-lg {
  --bs-gutter-x: 1rem !important;
}

.globalObjectFit {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1199px) {
  .responsiveHeader {
    font-size: 2.4em !important;
  }
}

@media (max-width: 992px) {
  .responsiveHeader {
    font-size: 1.8em !important;
  }
}

.defaultGreen {
  color: #86c232 !important;
}

.defaultGreenBg {
  background-color: #86c232 !important;
}

.section-heading {
  border-bottom: 1px solid #d0d7deb3;
}

.form-control:focus {
  box-shadow: none !important;
}

select option {
  color: black;
  font-weight: 300;
}

select.break option {
  background: white;
}

.form-select {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  box-shadow: none !important;
  border-color: transparent !important;
  border-radius: 0;
  font-weight: 500;
  padding: 0.375rem 5.25rem 0.375rem 0.75rem;
  font-size: 15px;
}

.text-wrap-balance {
  text-wrap: balance !important;
}

.default-button-size {
  --bs-btn-padding-y: 1.15rem;
  --bs-btn-padding-x: 1.2rem;
  border-radius: 10px;
  letter-spacing: 2px;
}

.text-bright-green {
  color: #3dd1bf !important;
}

.react-tel-input .form-control,
.react-tel-input .flag-dropdown {
  border: 1px solid hsla(0, 0%, 25%, 1) !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.react-tel-input .form-control:focus + .flag-dropdown {
  border-color: rgb(119 116 116) !important;
}

.react-tel-input .form-control + .flag-dropdown.open,
.react-tel-input .form-control:has(+ .flag-dropdown.open) {
  border-color: rgb(119 116 116) !important;
}

.react-tel-input .flag-dropdown.open .selected-flag,
.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background: black !important;
}

.react-tel-input .country-list .country.highlight {
  background: hsla(0, 0%, 25%, 1) !important;
}

.react-tel-input .country-list .country:hover {
  background: hsla(0, 0%, 25%, 1) !important;
}

textarea {
  resize: none;
}

.ph-color-white::placeholder {
  color: rgba(106, 106, 106, 0.489);
}

.mySwiper {
  text-align: center;
}

/* Helpful answer, however it would be nice if you explained what is happening here instead of just showing a bunch of code. The only things required to hide slides that aren't completely visible are to set watchSlidesVisibility: true, .swiper-slide opacity to 0 and .swiper-slide-visible  opacity to 1 */
/* enable if i want to disable partials on left and right sides */
/* .swiper-slide {
  opacity: 0;
}

.swiper-slide-visible {
  opacity: 1;
} */

.disabled_swiper_button {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: "" !important;
}
.swiper-button-prev,
.swiper-button-next {
  width: auto !important;
}
.swiper-button-prev {
  left: 17px !important;
}
.swiper-button-next {
  right: 17px !important;
}

.react-datepicker__year-wrapper {
  max-width: 204px !important;
}

.react-datepicker__tab-loop {
  margin-left: 0 !important;
}

.input-group:has(.movieTitleInput:focus) .input-group-text {
  border-color: rgb(119 116 116) !important;
}

.border-radius-infinite {
  border-radius: 9999px;
}

.light-border-input {
  background-color: black !important;
  color: white !important;
  border-color: #333333 !important ;
  outline: none !important;
  font-weight: 300;
}

.light-border-input:focus {
  border-color: rgb(119 116 116) !important;
}

.home-page-accordion.accordion {
  --bs-accordion-bg: transparent;
  --bs-accordion-btn-color: white;
  --bs-accordion-border-width: 0;
  --bs-accordion-color: white;
  --bs-accordion-active-bg: transparent;
  --bs-accordion-active-color: rgb(255, 255, 255);
  --bs-accordion-btn-focus-border-color: transparent;
  --bs-accordion-btn-focus-box-shadow: none;

}

.accordion-button[aria-expanded="false"] .accordion-question {
  color:#848484
}

.accordion-button[aria-expanded="true"] .accordion-question {
  color: white; 
}

.accordion-button {
  padding: 0px;
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

/* custom checkbox */

/* #custom-checkbox::before {
  content: '[    ]' !important;
  white-space: pre;

}

#custom-checkbox.checked::before {
  content: '[ X ]' !important;
  white-space: pre;
} */

@media (min-width: 1090px) {
  .navbar-expand-custom {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-custom .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-custom .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-custom > .container {
    flex-wrap: nowrap;
  }
  .navbar-expand-custom .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
}

/* handles navbar brand so it doesn't wrap */

.navbar {
  min-width: 300px;
}

.navbar-brand {
  max-width: 58%;
}

.brand {
  font-size: 30px;
}

@media screen and (max-width: 389px) {
  .brand {
    font-size: 23px;
  }
}

.text-wrap-balance {
  text-wrap: balance;
}

.text-wrap-pretty {
  text-wrap: pretty;
}

/* fade in for items */
/*  3 specificity*/
.fade-in-section:not(:has(.item.slow)),
.fade-in-section .item {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1s ease-out, transform 1s ease-out, box-shadow 0.3s ease; /* Smooth transition for box-shadow */
  ;
  will-change: opacity, visibility, transform;

}

.fade-in-section .item.slow {
  transform: translateY(20px);

}
/*  4 specificity*/
.fade-in-section.is-visible:not(:has(.item.slow)),
.fade-in-section.is-visible .item {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;

}

.fade-in-from-z .item {
  opacity: 0;
  transform: scale(1.3);
  visibility: hidden;
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in-from-z.is-visible .item {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}

.fade-in-from-z.is-visible .item-1,
.fade-in-section.is-visible .item-1 {
  transition: opacity 1s ease-out 0.3s, transform 1s ease-out 0.3s, box-shadow 0.3s ease; /* Smooth transition for box-shadow */

}
.fade-in-from-z.is-visible .item-2,
.fade-in-section.is-visible .item-2 {
  transition: opacity 1s ease-out 0.6s, transform 1s ease-out 0.6s, box-shadow 0.3s ease; /* Smooth transition for box-shadow */

}

.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-control:focus ~ label::after {
  background-color: rgba(255, 255, 255, 0) !important;
}
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-control:focus ~ label {
  color: white !important;
}

.form-floating > .form-control:not(:placeholder-shown):not(input) {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.paginatedLink {
  background-color: black;
  color: white;
}

.page-link-break {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  background-color: black;
}

.page-link:hover {
  color: black;
}

.general-nav:hover {
  background: white !important;
  color: black !important;
}

.general-nav.page-link:focus {
  background-color: black;
  color: white;
}

.paginatedItems {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginate-disabled {
  display: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.dropdown-item:hover {
  background-color: #1967d2;
  color: white;
}

/*for community review 2 big images effect */
.card-effect {
  transition: transform 0.5s ease 0s;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  will-change: transform;
}

.card-effect:hover {
  transform: perspective(8000px) rotateX(8deg) rotateY(5deg);
}

.fade-in-image {
  opacity: 0; /* Start fully transparent */
  transform: scale(1.3); /* Slightly scale down the image */
  transition: opacity 0.6s ease, transform 0.6s ease;
  position: relative;
}

.fade-in-image.animate {
  opacity: 1; /* Fade to fully opaque */
  transform: scale(1); /* Scale back to normal */
}

/* Define the keyframes for the animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(25px); /* Start 20px below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at original position */
  }
}

/* Apply the animation to your element */
.fade-in-from-bottom {
  opacity: 0; /* Start invisible */
  animation: fadeInUp 1s ease-out forwards;
}

/* Individual delays for each element */
.fade-in-from-bottom.fade-in-delay-1 {
  animation-delay: 0.3s;
}

.fade-in-from-bottom.fade-in-delay-2 {
  animation-delay: 0.6s;
}

/* for hovering circle*/
.hover-circle {
  color: #4b4c53;
  position: absolute;
  top: -14px;
  left: -14px;
}

.circle-animate {
  transition: stroke-dashoffset 0.5s ease,;
  stroke:white;
  transform-origin:30px 30px;
}

/* On hover, animate the second circle */
.hover-circle:hover .circle-animate,
.learn-more-hover-circle:hover .hover-circle .circle-animate {
  stroke-dashoffset: 0; /* Draw the circle */
}

.focus-ring {
  transition: box-shadow 0.3s ease;
}

.focus-ring:hover {
  border-color: transparent !important;
  /* Create the ring effect */
  box-shadow: 0 0 0 6px #26262E, 0 0 0 8px rgb(55, 255, 131);
}

.focus-ring:has(.ring-red:hover)  {
  box-shadow: 0 0 0 6px #1D2426, 0 0 0 8px rgb(255, 0, 0); 
}

.focus-ring:is(.ring-blue):hover {
  box-shadow: 0 0 0 6px #23272C, 0 0 0 8px rgb(0, 187, 255); 
}

.focus-ring:is(.ring-yellow):hover {
  box-shadow: 0 0 0 6px var(--page-background-color), 0 0 0 8px rgb(246, 255, 0); 
}