.default-font-size {
  font-size: 32px;
}

.section-container-style-lighter {
  padding-left: 2em;
  padding-right: 2em;

  background: #1d2426;
}

.section-container-style-black {
  padding-left: 2em;
  padding-right: 2em;
}
/* so Learn More is stacked */
@media only screen and (max-width: 931px) and (min-width: 768px),
       only screen and (max-width: 505px) {
  .wordSpacing {
    word-spacing: 100vw;
  }
}