

.header {
    font-size: 3em;
    white-space: nowrap;
    font-weight: bolder;
}

@media (max-width: 992px) {
    .header {
        white-space: normal !important;
    }
}

@media screen and (max-width: 1199px) {
    .objectFit {
      max-width:100%;
      height:auto;
    }
  }

  .step-grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  @media screen and (max-width: 1200px) {
    .step-grid {
    gap: 54px;
    grid-template-columns: repeat(1, 1fr);
  }
}
 
.arrows-container {
  position: relative;
}
  .arrow {
    position: absolute;
    bottom:12em;
  }

.section-container-style-lighter {
    padding:2em;
}

.accordion-item-home {
  background-color:transparent;
  border-radius:0
}

/* instead of using minHeight:100vh which causes shaking. solution for 100vh and accordions */
.view-height-alternative {
  padding-top: calc((100vh - 460px) / 2); /* Calculate top padding */
  padding-bottom: calc((100vh - 460px) / 2); /* Calculate bottom padding */
}

.stats {
  display:flex; 
  flex-direction: column;
  align-items: center;
  text-align: center;
  white-space: nowrap;
}

@media screen and (max-width:1000px) {
  .stats {
    flex-grow:1;
    width:40%
  }
}


.tool-grid {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width:90%;
}
.quote-grid {
  display: grid;
  gap: 4em;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding-right:8em;
  padding-left:8em;
}

.stats-grid {
  display: grid;
  gap: 0em;
  grid-template-columns: repeat(4, 250px);
  justify-items: center;
  justify-content: center;
  padding-right:8em;
  padding-left:8em;
}

.creative-process-container {
  max-width:90%;
}

.img-width {
  width:90%
}

.img-width-2 {
  width:90%
}

@media screen and (max-width: 1200px) {
  .tool-grid {
  padding-right:0em;
  padding-left:0em;
}
.quote-grid {
  padding-right:0em;
  padding-left:0em;
}
.stats-grid {
  grid-template-columns: repeat(2,1fr);
  gap: 2em;

}
.creative-process-container {
  max-width:100%;
}

}

@media screen and (max-width: 450px) {
  .stats-grid {
    grid-template-columns: repeat(1,1fr);
 
  
  }
}

@media screen and (max-width: 828px) {
  .quote-grid {
    grid-template-columns: repeat(1, 1fr);

  }
}
.img-width {
  width:90%
}
@media screen and (max-width: 991.20px) {
  .img-width,.img-width-2 {
    width:100%
  }
  

}
.grid-item {
  border: 1px solid rgb(144 144 144);
  border-radius:10px ;
}

@media screen and (max-width: 970px) {
  .tool-grid {
    grid-template-columns: repeat(1, 1fr);
    max-width:600px

}


.grid-item {
  width:100%;
}
}


.steps-container {
  max-width:42rem;
  margin: 0 auto;
  text-align: center;
}

/* .bg-image {
  background: url('../assets/images/home/bg.png') no-repeat;
  background-size:cover;
  background-position: center;

}
.bg-image-2 {
  background: url('../assets/images/home/bg-2.png') no-repeat;
  background-size:cover;
  background-position: center;
} */
/* so Learn More is stacked */
/* @media only screen and (max-width: 483.20px) {
  .wordSpacing {
    word-spacing: 100vw;
  }
} */

.fs-header {
  font-size: 3.5rem;
}

.fs-para {
  font-size: 1.5rem;

}
@media only screen and (max-width: 664px) {
  .fs-header {
    font-size: 1.5rem;
  }
  
  .fs-para {
    font-size: 1rem;
  
  }
}

.btn-container {
  column-gap: 1rem;

}
@media only screen and (max-width: 466px) {
.btn-container {
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;

}
}


.btn-inspiration {
  letter-spacing: 0.3px;
  flex: 1 1 0%
}

.object-fit {
  max-width:100%;
  height:auto;
}

.icon {
  transition: transform 0.2s ease-in-out;
}

.get-started:hover .icon {
  transform: translateX(6px) translateY(0);
}


.logo-grid {
  display: grid;
  gap: 4em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
    justify-items: start;
    align-items:center;
}

.support-button {
  display:flex;
  font-size: 15px;
  height:45px;
  align-items:center;
  text-wrap:nowrap;
}

.support-button:hover .support-arrow {
  width:20px;

}

.support-arrow {
  width:0;
  transition: width 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Spring effect on initial state */
  transform: translateX(5px); /* Use transform to simulate margin-left */

}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: "" !important;
}
.swiper-button-prev,
.swiper-button-next {
  cursor:pointer;
  height: 66px;
  width:66px;
  background:#1f1f1f;
  border-radius:9999px;
  display:flex;
  align-items: center;
  justify-content: center;
  color:white;
}
