.nonActiveWindow {
  opacity: 20%;
}

.activeWindow {
  opacity: 100%;
}

.quote {
  font-weight: bold;
  font-size: 25px;
  width: 120%;
  text-wrap: balance;

}

@media (min-width: 993px) and (max-width: 1200px) {
    .quote {
      font-size: 18px;
    }
  }
  
@media (max-width: 888px) {
    .quote {
      width: fit-content;
    }
  }
/* CSS for larger screens (md and above) */
@media (min-width: 768px) {
  .hide-on-mobile {
    display: inline-block; /* Display the first icon */
  }

  .show-on-mobile {
    display: none; /* Hide the second icon */
  }
}

/* CSS for smaller screens (below md) */
@media (max-width: 767px) {
  .hide-on-mobile {
    display: none; /* Hide the first icon */
  }

  .show-on-mobile {
    display: inline-block; /* Display the second icon */
  }
}