@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }

  div.link-active {
    border-bottom: 2px solid #86C232;
  }

  @media screen and (max-width: 576px) {
    .responsive-sticky-top {
      position: sticky;
      top: 0;
      z-index: 1020;
    }
  }
 
@media screen and (max-width:991.9px) {
  .nav-dropdown-menu {
    border-bottom: 1px solid #444a4d;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }
  .hover-dropdown:hover {
    background: rgba(121,135,161,0.15);
    border-radius:10px;
    transition: background 300ms;

  }
}

 @media screen and (min-width:992px) {
  .nav-shake:hover {
    animation: tilt-shaking 0.15s ease-in-out !important;
 }
}

.highlight-nav:hover {
    color: var(--nav-brand-color);

}

.playlist-icon  {
  transition: transform 200ms ease;
  color:white;
}

.rotate {
  transform: rotate(180deg);
}

.search-close-btn {
  z-index: 2001;
  top:0;
  right:0;
  position:absolute;
  float:right;
  cursor:pointer;
}