@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }

  div.link-active {
    border-bottom: 2px solid #86C232;
  }
/* 
  @media screen and (max-width: 576px) {
    .responsive-sticky-top {
      position: sticky;
      top: 0;
      z-index: 1020;
    }
  } */
  @media screen and (max-width:390px) {
    .search {
      display:none;
    }
  }

  @media screen and (min-width:1090px) {
    .search {
      order:1
    }
  }

@media screen and (max-width:1090px) {
  .nav-dropdown-menu {
    border-bottom: 1px solid #444a4d;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }
  .hover-dropdown:hover {
    background: rgba(121,135,161,0.15);
    border-radius:10px;
    transition: background 300ms;

  }

}

.custom-row-gap {
 row-gap:10px;
}

.custom-column-gap {
  column-gap: 2em;
}
@media screen and (max-width: 435px) {
  .custom-column-gap {
    column-gap:1em;
  }
}

 @media screen and (min-width:992px) {
  .nav-shake:hover {
    animation: tilt-shaking 0.15s ease-in-out !important;
 }
}

.highlight-nav {
 transition-duration: 200ms;
}

.highlight-nav:hover {
    color: var(--nav-brand-color);
     
}

.playlist-icon  {
  transition: transform 200ms ease;
  color:white;
}

.rotate {
  transform: rotate(180deg);
}

.search-close-btn {
  z-index: 2001;
  top:0;
  right:0;
  position:absolute;
  float:right;
  cursor:pointer;
  padding:10px;
}

.search-close-btn:hover {
  background:red;
}

.circular-border { 
  border:2px solid #4B4C53;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50px;
  line-height: 35px;
  transition-duration: 200ms;
 cursor: pointer;
}

.circular-border:hover {
  border-color: var(--nav-brand-color);
}


.try-button {
  background-color: #1D8754; 
  color: white !important;
   border-radius: 6px;
}

.try-button:hover {
  opacity: 90%;
}