/* source: https://codepen.io/hesguru/pen/BaybqXv */
/* .rate {
  padding: 0 10px;
}
.rate:not(:checked) > input {
  display: none;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 25px;
  color: #ccc;
}

@media (max-width:576px) {
  .rate:not(:checked) > label {
    font-size: 17px;
  }
}

.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
} */

/*end*/

.option {
  padding: 10em 0;
  border-radius: 50px;
  background-color:rgb(28,31,34);
}

.option:hover {
  background:rgba(28, 31, 34, 0.373);
  cursor:pointer
}

.highlight-media {
  background:rgb(189, 255, 197) !important;
  color:black;
}

.checkmark {
 border:1px solid rgb(82, 186, 90);
 border-radius: 10px;
 position:absolute;
 padding:7px 10px;
 background:rgb(82, 186, 90);
 top:25px;
 right:25px;
 
}

.bullet-color {
  background-color:white 
}



.mySwiper {
  background-color:#3a4045;
  border-radius: 50px !important;
}

.nav-next {
  background-color:rgb(59, 141, 66) ;
  color:white;
  border-radius:50px;
  padding: 10px 20px;
  border: 1px solid transparent !important;
}

.nav-next:hover {
  background-color:rgba(59, 141, 66, 0.751) ;
}

.nav-next:active {
  background-color:rgba(59, 141, 66, 0.751) !important ;
}

.nav-back {
  background-color:rgb(16,17,19);
  color:white;
  border: 1px solid rgb(255, 255, 255);
  border-radius:50px;
  padding: 10px 20px
}

.nav-back:hover {
  background-color:rgba(16, 17, 19, 0.641);
  border: 1px solid rgba(255, 255, 255, 0.552);

}
@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
.cannot-continue {
  animation: tilt-shaking 0.15s ease-in-out !important;
  background-color:red !important;
  border-color:red !important;
}