.button {
    transform:translateY(-20px);
}

.grid {
    display:grid;
    gap: 2rem;
    grid-template-columns:repeat(auto-fit, minmax(15em, 1fr))
}

.show-more {
    color:rgb(146,161,234); 
    cursor:pointer;
   
}

.show-more:hover {
    color:white;
}

.profile-container {
    box-shadow: 0px 5px 100px 5px rgba(0, 0, 0, 0.927);
    margin-top:5em;
}

.carrot {
    position:absolute;
    top:10.5em
}