.grid {
  display: grid;
  gap: 0.8rem;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
}

.object-fit {
  max-width: 100%;
  height:110%
}

/* .community-banner {
  background: linear-gradient(to right, #040404, 70%, transparent), url("../../assets/images/communityBanner.png") right / 60% no-repeat, #040404;
  height:200px
} */


/* .community-banner::before {
  content: '';
  background: linear-gradient(to right, #000000, 90%, transparent), url("../../assets/images/communityBanner.png") right / 60% no-repeat, #040404;  
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
} */

.multiline-ellipsis {
  color: #b1b1b1;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fadeoff {
  pointer-events: none;
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0;
  top: -60px;
  background: -webkit-linear-gradient(top, #00000000 0, rgba(0, 0, 0, 0.74) 100%);
  background: linear-gradient(to bottom, #00000000 0, rgba(0, 0, 0, 0.74) 100%);
  z-index:1
}

.fadeoff-huge {
  pointer-events: none;
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 0px;
  border-radius:10px;
  background: -webkit-linear-gradient(top, #00000000 0, rgba(0, 0, 0, 0.875) 100%);
  background: linear-gradient(to bottom, #00000000 0, rgba(0, 0, 0,0.875) 100%);
}

.nav-tab {
  border-top: 1px solid #3d3d3d;
  border-right: 1px solid #3d3d3d;
  cursor: pointer;
}

.nav-tab:first-child {
  border-left: 1px solid #3d3d3d;
}

.nav-tab .nav-tab-item {
  border-radius: 0;
  border:none;
}

.tab-container {
  background: rgba(219, 213, 213, 0);
}

.card-review-container {
  cursor:pointer;
}

.title {
  transition: color 0.3s ease-in-out;

}
.figure {
  transition: transform 0.3s ease-in-out;

}

.card-review-container:hover .title {
  color:rgb(255, 0, 0)
}


.card-review-container:hover .figure {
  transform: translateY(-1rem);
}

