.default-unit {
    border: 1px solid hsla(0,0%,25%,1);
    border-radius: 10px
}

.default-footer {   
    border: 1px solid hsla(0,0%,25%,1);
    padding: 12px 12px;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}
  
.footer-text {
    color: hsla( 0,0%,63% ,1)
}

.light-border-input {
    background-color:black !important;
    color:white !important;
     border-color:#333333 ;
     outline: none !important;

}

.light-border-input:focus {
    border-color:rgb(119 116 116) !important;

}

.description {
    margin-top: 0.75rem;
    font-size: 15px;
}

.input {
    border-color: #495057 !important;
    box-shadow: none !important;
    background-color: transparent !important;
  }
  
  .label {
    font-size: 1em;
  
  }