.password-input {
    border-right:none;
}

.button {
    width:auto !important;
}

.button-continue-disabled {
    opacity: 50%;
    cursor:default !important;
    width:auto !important;
}
.button-continue-disabled:hover {
    opacity: 50%;
}

.password-eye {
    background-color: black !important;
    border-color: #333333;
    color: white !important;
    display:block;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;

}

.password-input:focus + .password-eye {
    border-color:rgb(119 116 116) !important
}


