.password-input {
    background-color: black !important;
    color: white !important;
    border-color: #333333;
    padding:15px;
    border-right:none;

}

.password-input:focus {
    background-color: black;
    border-color: white;

}

.password-input::placeholder {
    color:rgba(255, 255, 255, 0.208)
}

.button {
    width:auto !important;
}

.button-continue-disabled {
    opacity: 50%;
    cursor:default !important;
    width:auto !important;
}
.button-continue-disabled:hover {
    opacity: 50%;
}

.password-eye {
    background-color: black !important;
    border-color: #333333;
    padding: 15px 25px 15px 15px;
    color: white !important;
    display:block;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;

}

.password-input:focus + .password-eye {
    border-color: white;
  }


